*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #1d2d3c;
  color: white;
}

header{
  height: 80px;
  background-color: #06131f;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  margin-bottom: 3rem;
}

.my-wrapper{
  width: 100%;
}

.my-card{
  background-color: #112030;
  min-height: 500px;
  width: calc(100% / 3 - 2rem);
  border-radius: 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-card-img{
  padding-top: 3rem;
  text-align: center;
}

.my-card-img img{
  max-width: 60%;
  margin-bottom: 4rem;
}

.my-card-text{
  text-align: center;
}